<% if @questions.empty? %>
    <p>This test does not contain any questions</p>
<% else %>
    <table>
      <th>
        <tr>
          <td>Number</td>
          <td>Title</td>
          <td>Marks</td>
        </tr>
      </th>
      <tbody>
      <% @questions.each do |question| %>
          <tr>
            <td><%= question.number %></td>
            <td><%= question.title %></td>
            <td><%= question.mark %></td>
            <td>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>
<% if current_user.teacher? && (current_user.tests.include?(@test)) %>
    <%= link_to 'Add Questions', new_question_path(test_id: @test.id) %>
<% end %>