<p>Welcome</p>
<ul>
  <li>
    <%= link_to 'Test list', tests_path %>
  </li>
  <% if current_user.teacher? %>
    <li>
      <%= link_to 'New Test', new_test_path %>
    </li>
  <% end %>
</ul>
<%= link_to('Logout', destroy_user_session_path, method: :delete) %>